image: __REGISTRY__/__NAMESPACE__/openedge-function-python27:__VERSION__
manifests:
  -
    image: __REGISTRY__/__NAMESPACE__/openedge-function-python27-linux-amd64:__VERSION__
    platform:
      architecture: amd64
      os: linux
  -
    image: __REGISTRY__/__NAMESPACE__/openedge-function-python27-linux-amd64:__VERSION__
    platform:
      architecture: amd64
      os: darwin
  -
    image: __REGISTRY__/__NAMESPACE__/openedge-function-python27-linux-arm:__VERSION__
    platform:
      architecture: arm
      os: linux
  -
    image: __REGISTRY__/__NAMESPACE__/openedge-function-python27-linux-arm64:__VERSION__
    platform:
      architecture: arm64
      os: linux      
  -
    image: __REGISTRY__/__NAMESPACE__/openedge-function-python27-linux-386:__VERSION__
    platform:
      architecture: 386
      os: linux
