*~
*.swp
*.a
*.jar
*.iml
/.idea
/.vscode
/output*
/baetyl
/**/*.zip
/**/.DS_Store
/**/libexec
/**/*.db
/**/*.db.lock
/**/*.pyc
/**/*debug.test
/**/debug
/**/*.log
/cover*.out
/cover*.html
/example/**/*-cert
/**/processes.history*
/**/node_modules
/**/__package
docs/_build
