*~
*.swp
*.a
*.jar
*.iml
/.idea
/openedge
/openedge-hub
/openedge-function
/openedge-remote-mqtt
/pubsub
/consistency
/output*
/**/.DS_Store
/.vscode
/**/var
/**/libexec
/**/*.db
/**/*.db.lock
/**/*.pyc
/**/*debug.test
/**/debug
/**/bin
/**/*.log
/cover*.out
/vendor
