*~
*.swp
*.a
*.jar
*.iml
/.idea
/output*
/**/.DS_Store
/.vscode
/**/var
/**/libexec
/**/*.db
/**/*.db.lock
/**/*.pyc
/**/*debug.test
/**/debug
/**/edge/conf
/**/edge/example
/**/*.log
/**/y.output
/cover*.out
