Source: baetyl
Section: admin
Priority: extra
Maintainer: Baetyl Devs
Build-Depends: build-essential, 
               debhelper (>= 9), 
               dh-systemd

Package: baetyl
Architecture: any
Depends: libc6 (>= 2.3.2), init-system-helpers (>= 1.13~)
Description: Baetyl
 Baetyl is an open edge computing framework 
 that extends cloud computing, data and service seamlessly to edge devices. 
 .
 You can visit https://github.com/baetyl/baetyl to learn more!

