Source: openedge
Section: admin
Priority: extra
Maintainer: OpenEdge Devs
Build-Depends: build-essential, debhelper (>= 9)

Package: openedge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenEdge
 OpenEdge is an open edge computing framework 
 that extends cloud computing, data and service seamlessly to edge devices. 
 .
 You can visit https://github.com/baidu/openedge to learn more!

