[Unit]
Description=OpenEdge
After=network-online.target docker.service 
Wants=network-online.target docker.service

[Service]
ExecStart=/usr/local/bin/openedge start
KillMode=process
TimeoutStartSec=600
TimeoutStopSec=40
Restart=on-failure


[Install]
WantedBy=multi-user.target
