image: __REGISTRY__/__NAMESPACE__/openedge-timer:__VERSION__
manifests:
  -
    image: __REGISTRY__/__NAMESPACE__/openedge-timer-linux-amd64:__VERSION__
    platform:
      architecture: amd64
      os: linux
  -
    image: __REGISTRY__/__NAMESPACE__/openedge-timer-linux-amd64:__VERSION__
    platform:
      architecture: amd64
      os: darwin
  -
    image: __REGISTRY__/__NAMESPACE__/openedge-timer-linux-armv7:__VERSION__
    platform:
      architecture: arm
      os: linux
      variant: v7
  -
    image: __REGISTRY__/__NAMESPACE__/openedge-timer-linux-arm64:__VERSION__
    platform:
      architecture: arm64
      os: linux
  -
    image: __REGISTRY__/__NAMESPACE__/openedge-timer-linux-386:__VERSION__
    platform:
      architecture: 386
      os: linux
